<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/adminProduct.css">
    <script async type="text/javascript" src="/js/adminProduct.js"></script>
</head>

<body>
    <main>
        <section class="header-container">
            <span id="div-img">
                <ul>
                    <li><img src="/img/logo.png"></li>
                </ul>
            </span>
            <span id="div-title">
                <div id="panel">
                    <div id="header-options">
                        <div id="img-Avatar">
                            <div>
                                <ul>
                                    <li id="avatar"> <img src="/img/businessman.png"> </li>
                                </ul>

                            </div>
                            <div id="avatar-name">
                                <ul>
                                    <li><%= user %></li>
                                </ul>
                            </div>
                        </div>


                        <div id="panel-header">
                            <div id="return">
                                <img src="/img/arrow.png" alt="">
                            </div>

                            <div id="panel-header-option">
                                <a id="return-a" href="/administrator/product"> Retornar </a>
                            </div>
                        </div>
                    </div>
                </div>
            </span>

        </section>

        <section class="main-container">
            <span id="div-menu">
                <div id="menu-options">
                    <ul id="options">
                        <hr>
                        <% if(userPermission===2) {%>
                        <li id="seller"> <img src="/img/add-user.png">
                            <a class="display-none"> Usuários</a>
                        </li>
                        <hr>

                        <% }%>
                        <li id="cleint"> <img src="/img/cleint.png" ">
                             <a href="" class="display-none"> Fornecedores</a>
                        </li>
                        <hr>
                        <li id="represented"> <img src="/img/home.png">
                             <a href="" class="display-none"> Representada</a>
                        </li>
                       <hr>
                         <li id="payment"> <img src="/img/payment-plans.png">
                          <a href="" class="display-none"> Planos</a>
                        </li>
                        <hr>
                        <li id="price"> <img src="/img/price.png">
                           <a href="" class="display-none"> Preços</a>
                        </li>
                        <hr>
                        <li id="product"> <img src="/img/product.png">
                        <a href="" class="display-none"> Produtos</a>
                        </li>
                         <hr>
                         <li id=" requests"> <img src="/img/cart.png">
                         <a href="" class="display-none">Pedidos</a>
                         </li>
                        <hr>
                         <li id="report"> <img src="/img/report.png">
                         <a href="" class="display-none">Relatórios</a>
                        </li>
                        <hr>
                    </ul>
                </div>
            </span>

            <span id="div-body">
                <hr>
                <div id="nav">
                    <div><img src="/img/arrow-16.png" alt=""></div>
                    <div id="nav-title">Administrador/ Produtos / Editar</div>
                </div>
                <h2>Editar Produto</h2>

                <div id="frm">
                    <form action="/administrator/product/edit/<%= product.id %>?_method=put" method="post" enctype="multipart/form-data">
                        <div class="div-input">
                            <div class="Product-input">
                                <label for="id">Id:</label>
                                <input value="<%= product.id %>" type="text" name="id" id="id" disabled />
                            </div>

                            <div class="Product-input">
                                <label for="genre-id">Gênero:</label>
                                <select name="genre" id="genre-id">
                                    <option value="" selected></option>
                                    <option value="Masculino" <%=product.genre=="Masculino" ? "selected" :""%>>Marculino</option>
                                    <option value="Feminino" <%=product.genre=="Feminino" ? "selected" :""%>>Feminino</option>
                                </select>
                            </div>
                            <div class="Product-input">
                                <label for="mark-id">Marca:</label>
                                <select name="mark" id="mark-id">
                                    <option value="Adidas" <%=product.mark=="Adidas" ? "selected" :"" %>>Adidas</option>
                                    <option value="Mizuno" <%=product.mark=="Mizuno" ? "selected" :"" %>>Mizuno</option>
                                    <option value="Nike" <%=product.mark=="Nike" ? "selected" :"" %>>Nike</option>
                                </select>
                            </div>

                            <div class="Product-input">
                                <label for="style-id">Estilo:</label>
                                <select name="style" id="style-id">
                                    <option value="Esportivo" <%=product.style=="Esportivo" ? "selected" :"" %>>Esportivo
                                    </option>
                                    <option value="Casual" <%=product.style=="Casual" ? "selected" :"" %>>Casual</option>
                                    <option value="Social" <%=product.style=="Social" ? "selected" :"" %>>Social</option>
                                </select>
                            </div>
                            <div class="Product-input">
                                <label for="title-id">Modelo:</label>
                                <input value="<%= product.productModel %>" type="text" name="productModel" id="title-id" />
                            </div>

                            <div class="Product-input">
                                <label for="number-id">Numero:</label>
                                <input value="<%= product.number %>" type="text" name="number" id="number-id" />
                            </div>
                            <div class="Product-input">
                                <label for="cost-id">Custo:</label>
                                <input value="<%= product.costValue %>" type="text" name="costValue" id="cost-id" />
                            </div>
                            <div class="Product-input">
                                <label for="sale-id">Venda:</label>
                                <input value=" <%= product.saleValue %>" type="text" name="saleValue" id="sale-id" />
                            </div>

                            <div class="Product-input">
                                <label for="special-id">Especial:</label>
                                <input value=" <%= product.specialValue %>" type="text" name="specialValue" id="special-id" />
                            </div>
    
                            <div class="Product-input">
                                <label for="quantity-id">Quantidade:</label>
                                <input value="<%= product.quantity %>" type="text" name="quantity" id="quantity-id" />
                            </div>
                        
                        </div>
                        <div class="container-input">
                            <div class="Product-input">
                                <label for="description-id">Descrição:</label>
                                <textarea name="description" id="description-id"><%= product.description %> </textarea>
                            </div>
    
                        </div>
                        <div class="Product-input">
                            <label class="picture" for="picture-input" tabIndex="0">
                                <input type="file" accept="image/png" name="picture-input" id="picture-input" />
                                <span class=""> <img src="<%= product.img %>" alt=""></span>
                            </label>
                        </div>

                        <div id="btn-options">
                            <input  type="submit" value="Alterar" class="btn">
    
                        </div>

                    </form>
                    <% if(locals.error){%>
                        <h3 class="error-alert2"><%= error.message %></h3>
                   <%}%>
                </div>
            </span>
        </section>
    </main>
 
</body>

</html>