<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/userCart.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <title>
    <%= title %>
  </title>
  <script async type="text/javascript" src="/js/cart.js"></script>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg bg-dark p-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/img/logo.png" alt="logo">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          </ul>
          <form action="/procurar" method="get" class="d-flex">
            <input type="text" name="buscar" class="form-control me-2 bg-dark " style="color:aliceblue;"
              placeholder="Pesquisar">
            <button class="btn btn-outline-light" type="submit">Buscar</button>
          </form>
          <ul class="navbar-nav ">
            <li class="nav-item mx-3 display-flex">
              <% if(locals.user){ %>
                <a class="nav-link  text-light ">Olá, <%= user %></a>
                <a class="nav-link  text-light " href="/painelCliente">Minha conta</a>

                <% } else{%>
                  <a class="nav-link  text-light " href="/login"> Logar</a>
                  <%}%>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>
  <% if(locals.productSelected){%>
    

    <section id="section-principal">
      <div id="div-products-descriptions">
        <h2>minha cesta</h2>
        <article id="product-list-title">
          <h5>Produto</h5>
          <h5></h5>
          <h5>Qtde</h5>
          <h5>Entrega</h5>
          <h5>Preço</h5>

        </article>
         <% if(productSelected.length> 0){ %>
          <% for(let product of productSelected) { %>
            <article class="product-list" id="article-<%= product.id %>">
              <div> <img src="<%= product.img %>" alt=""></div>
              <div>
                <h6>
                  <%= product.productModel %>
                </h6>
                <span> Vendido e entregue por MRCat</span>
              </div>
              <div id="product-list-qtde-container">
                <div id="product-list-qtde">
                  <button onclick="DecrementValue('input-Quantity-<%= product.id %>','value-unit-<%= product.id %>','<%= product.saleValue %>','<%= product.id %>')"> - </button>
                  <input type="text" id="input-Quantity-<%= product.id %>" class="input-Quantity" value="1">
                  <button onclick="IncrementValue('input-Quantity-<%= product.id %>','value-unit-<%= product.id %>','<%= product.saleValue %>','<%= product.id %>')"> + </button>
                </div>
                <a onclick="RemoveItem('article-<%= product.id %>','<%=product.id %>')"> Remover</a>
              </div>
              <div id="product-list-shipping">
                <span> Receba até dia 20 de setembro</span>
              </div>
              <div id="product-list-price">
                              
                <span id="value-unit-<%= product.id %>" class="class-prod-price"> R$ <%= product.saleValue %></span>
              </div>

            </article>
            <% } %>
            
              <% }else { %>
                <article class="product-list" id="article-<%= productSelected.id %>">
                  <div> <img src="<%= productSelected.img %>" alt=""></div>
                  <div>
                    <h6>
                      <%= productSelected.productModel %>
                    </h6>
                    <span> Vendido e entregue por MRCat</span>
                  </div>
                  <div id="product-list-qtde-container">
                    <div id="product-list-qtde">
                      <button onclick="DecrementValue('input-Quantity-<%= productSelected.id %>','value-unit-<%= productSelected.id %>','<%= productSelected.saleValue %>','<%= productSelected.id %>')"> - </button>
                      <input type="text" id="input-Quantity-<%= productSelected.id %>" class="input-Quantity" value="1">
                      <button onclick="IncrementValue('input-Quantity-<%= productSelected.id %>','value-unit-<%= productSelected.id %>','<%= productSelected.saleValue %>','<%= productSelected.id %>')"> + </button>
                    </div>
                    <a onclick="RemoveItem('article-<%= productSelected.id %>','<%= productSelected.id %>')"> Remover</a>
                  </div>
                  <div id="product-list-shipping">
                    <span> Receba até dia 20 de setembro</span>
                  </div>
                  <div id="product-list-price">
                                  
                    <span id="value-unit-<%= productSelected.id %>" class="class-prod-price"> R$ <%= productSelected.saleValue %></span>
                  </div>
    
                </article>

                <% } %>


                  <form action="" id="product-shipping">
                    <div id="shipping-calculate">

                      <label for="input-shipping">Calcule o frete e o prazo</label>
                      <Input type="text" id="input-shipping"></Input>

                    </div>
                    <div>
                      <button> OK</button>
                    </div>
                    <div id="shipping-search-zipcode">
                      <a href="#"> não sei meu cep</a>
                    </div>
                  </form>
      </div>
      

      <div id="div-products-summary">
        <div>
          <div>
            <h3>resumo do pedido</h3>
          </div>
          <ul id="products-summary-ul">
            <li class="products-summary-li">
              <label id="lbl-qtde-products"> 2 produtos</label>
              <span id='span-value-total-products'> R$ 600,00</span>
            </li>
            <li class="products-summary-li">
              <label> Frete</label>
              <span class="shipping-free"> Grátis</span>
            </li>
          </ul>
          <div id="products-summary-total">
            <span class="text-bold">
              total
            </span>
            <span id="products-summary-value">
              <p class="text-bold" id='span-value-total-products-car'>R$ 630,00</p>
              <p> em até 6x sem juros</p>
            </span>
          </div>
        </div>
        <div id="div-btn-continue">
          <button id="btn-continue" onclick="MostrarCookie()"> Continuar</button>
          <a href="/"> adicionar mais produtos</a>
        </div>
      </div>

    </section>
     
    <%} %>
      <span class="error-alert error" id="span-error">
        <h2>seu carrinho está vazio :(</h2>
        <a href="/"> voltar para home</a>

      </span>

      


</body>

</html>