<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista dos Produtos</title>
    <link rel="stylesheet" href="/css/produtos.css">
</head>
<body>
    <header class="header">
        <div id="img">
        <img src="img/logo.png" alt="img"/>
        </div>
            <div class="menu">
                <div class="feminino"> <a class="links" href="./"> Home </a> </div>  
                <div class="masculino"> <a class="links" href=""> Categoria </a> </div>
                <div class="inverno"> <a class="links" href="/produtos"> Produtos </a> </div>
                 <div class="promo"> <a class="links" href=""> Promoções </a> </div> 
            </div>
            
            <div class="pesquisa">
                <label for="pesquisa"> </label>
                
                <input type="text" id="pesquisa1" name="pesquisa" placeholder="Pesquisar"/>
            </div>
            <div class="redes">
                <div class="login">
                    <a class="links" href="/login"> Login </a>
                </div>
                <div class="cadastro">
                    <a class="links" href="/painelCliente"> Cadastro </a>
                </div>
            </div>
    </header>
    <section> 
             <% for(prod of products) { %> 
                <div class = "products">
                    <div class="imgVitrine">
                        <%= prod.img %>
                       
                    </div>
                    <div class = precoVitrine> 
                        <h3> R$ <%= prod.saleValue  %>  </h3> 
                    </div>
                    <div class="'descricaoVitrine">
                        <%= prod.description  %> 
                        <h4> Quantidade restante: <%= prod.quantity  %> </h4>

                    </div>
                    
                  
                      
                     
                    <a class="linkVisualizar" href="/produtos/<%= prod.id%>"> Visualizar</a> </h4></td>
                </div>
            <% } %> 
    </section>
    
    <a></a>
</body>
</html>