<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/productPage.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title> <%= title %></title>
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg bg-dark p-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img  src="/img/logo.png" alt="logo">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Categoria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/produtos">Produtos</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link disabled text-light">Promoções</a>
            </li> -->
          </ul>
          <form action="/procurar" method="get" class="d-flex"  >
            <input type="text"  name="buscar" class="form-control me-2 bg-dark "  style="color:aliceblue;" placeholder="Pesquisar" >
            <button class="btn btn-outline-light" type="submit">Buscar</button>
          </form>
          <ul class="navbar-nav ">
            <li class="nav-item mx-3 display-flex">
              <% if(locals.user){ %>
                <a class="nav-link  text-light ">Olá, <%= user %></a>
                <a class="nav-link  text-light " href="/painelCliente">Minha conta</a>
              <% } else{%>
                <a class="nav-link  text-light " href="/login"> Logar</a>
                <%}%>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>
<body>
            <!-- Main Marcel de Sousa -->
    <main>
        <!-- <div id="container-ppSubPage">
            <a href="/tipo" class="ppTmm"><b>TENIS ></b></a>
            <a href="/tipo/marca" class="ppTmm"><b>MARCA ></b></a>
            <a href="/tipo/marca/modelo" class="ppTmm"><b>MODELO ></b></a>
        </div> -->

        <div id="container-ppVerticalCatalog">
            <div>
                <ul class="ppVTs">
                    <img class="ppVT" src="../img/TENIS-RECORTESTP1.jpg" />
                    <img class="ppVT" src="../img/TENIS-RECORTESTP2.jpg" />
                    <img class="ppVT" src="../img/TENIS-RECORTESTP3.jpg" />
                    <img class="ppVT" src="../img/TENIS-RECORTESTP4.jpg" />
                    <img class="ppVT" src="../img/TENIS-RECORTESTP5.jpg" />
                </ul> 

                <div id="container-ppZoom">
                    <img class="ppZoom1"src="<%= productSelected.img %>" width="600" height="400" />
                </div>
                
                <div id="container-ppDescription">
                    <ul class="ppDescription">
                        <li class="ppDescInf"><b>DESCRIÇÃO:</b>
                            <h6> <%= productSelected.description %></h6>
                            <!-- <p>
                                <br>PRM056 Tênis confeccionado em material sintético.
                                <br>Esse modelo de tênis básico é ideal para o dia a dia, pois atende diversos looks.
                                <br>Seu solado é antiderrapante, com detalhe bicolor em borracha flexível, o que traz maior conforto ao caminhar.
                                <br>Clássica amarração de cadarços com costura reforçada e construção de bico levemente arredondado</br>
                            </p> -->
                        </li>
                        <br></br>
                        <li class="ppDescInf"><b>MATERIAL:</b>
                            <p>
                                <br>PRM056 Tênis confeccionado em material sintético.</br>
                            </p>
                        </li>
                        <br></br>
                        <li class="ppDescInf">
                            <br></br>
                            <p>
                                <br><b>COMO CUIDAR DO SEU ORIGINAL MR. CAT:</b></br>
                                
                                <br><b>NOBUCK E CAMURÇA</b> – LIMPAR COM ESCOVA DE BORRACHA OU ARAME MACIO.</br>
                                
                                <br>DEPOIS DE LIMPO, APLICAR O RENOVADOR DE COR E O IMPERMEABILIZANTE PARA PROTEGER.<br>
                                
                                <br><b>COUROS LISOS</b> – LIMPAR COM FLANELA SECA E LIMPA OU ESCOVA MACIA.</br>
                                
                                <br>APLICAR MOUSSE NA COR DO COURO OU INCOLOR.</br>
                                
                                <br>APÓS SECAR, LUSTRAR COM UMA FLANELA SECA E LIMPA OU ESCOVA MACIA.</br>
                                
                                <br><b>VERNIZ</b> – LIMPAR CUIDADOSAMENTE COM ESCOVA DE BORRACHA OU FLANELA ÚMIDA.</br>
                                
                                <br>DEPOIS DE LIMPO, LUSTRAR COM UMA FLANELA SECA E LIMPA.</br>
                                
                                <br><b>TECIDOS</b> – LIMPAR COM ESCOVA DE BORRACHA OU MESMO COM BORRACHA DE LÁPIS LIMPA.</br>
                                
                                <br>DEPOIS PASSAR UMA ESCOVA MACIA, APLICAR IMPERMEABILIZANTE PARA PROTEGER.</br>
                                
                                <br><b>CORES CLARAS</b> – O CONTATO COM ROUPAS ESCURAS, COMO JEANS, PODE MANCHAR SEU ORIGINAL MR. CAT.</br>
                                
                                <br><b>DETALHES EM METAL</b> – EVITE ATRITOS, FRICÇÃO OU IMPACTO SOBRE O METAL, PORQUE SÃO PEÇAS DELICADAS.</br>
                                
                                <br>PARA LIMPAR, UTILIZE FLANELA SECA E LIMPA.</br>
                                
                                <br><b>E LEMBRE-SE ...</b></br>
                                
                                <br>... O SEU ORIGINAL MR. CAT É FABRICADO COM COUROS ESPECIALMENTE TRATADOS, POR ISSO PODEM APRESENTAR MARCAS, PEQUENOS ARRANHÕES E DIFERENÇAS DE TONALIDADE, O QUE NÃO SÃO DEFEITOS, MAS CARACTERÍSTICAS NATURAIS DA PELE.</br>
                                
                                <br><b>CUIDE BEM DO SEU MR. CAT.</b> VOCÊ PERCEBERÁ QUE QUANTO MAIS O TEMPO PASSA, MAIS PESSOAL E BONITO ELE FICA.</br>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>   
            <% if(locals.productSelected){%>
            <div id="container-ppInfProduct">
                <div id="container-ppTitle">
                    <h1><%= produto.modelo %></h1>
                </div>

                <div id="container-ppin">
                    <em class="ppin">
                        De:
                        <strong>R$:<%= productSelected.saleValue %></strong>
                    </em>
                
                    <em class="ppPer">
                        Por: 
                        <strong>R$:<%= productSelected.saleValue %></strong>
                    </em>
    
                    <em class="ppOr">
                        <span>
                            Ou
                            <label>
                                <%= produto.qtdParcelado %>
                                <span>X</span>
                            </label>
                                de
                                <strong>
                                    <label><%= produto.vrParcelado %></label>
                                </strong>
                        </span>
                    </em>
                </div>
                    
                <div id="container-ppColor">
                    <label for="cores">COR: </label>
                    <label for="cor">TAUPE</label>
                </div>

                <div id="container-ppSize">
                    <label><b>TAMANHOS</b></label>
                    <ul class="ppSize">
                        <li class="ppSizes">41</li>
                        <li class="ppSizes">42</li>
                        <li class="ppSizes">43</li>
                        <li class="ppSizes">44</li>
                        <li class="ppSizes">45</li>
                        <li class="ppSizes">46</li>
                    </ul>
                </div>

                <div id="container-ppPurchases">
                    <a class="ppButtom" href="./confirmation" ><b>COMPRAR</b></a>
                </div>

                <div>
                    <article class="ppObs">
                        <p>
                            1ª troca grátis na loja online em até 30 dias! Devoluções em até 07 dias corridos da data do recebimento.
                        </p>
                    </article>
                </div>

                <div id="container-ppColors">
                    <label>CORES</label>
                    <ul class="ppOtherCor">
                        <img class="ppOther" src="../img/TENIS-RECORTESMH1.jpg" />
                        <img class="ppOther" src="../img/TENIS-RECORTESOW1.jpg" />
                    </ul>
                </div>

                <div id="container-ppDelivery">
                    <img src="../img/caminhao2.png" alt="" width="70" height="70" />
                    <div class="ppDelivery">
                        <p>
                            ENTREGA EM ATÉ 48H
                        </p>
                        <p>
                            Das nossas lojas físicas para sua casa
                        </p>
                    </div>
                </div>
                <div>
                    <p class="ppShipping">
                        CALCULE O FRETE, O PRAZO DE ENTREGA E DISPONIBILIDADE EM UMA DE NOSSAS LOJAS FÍSICAS:
                    </p>
                    <div class="ppZcode">
                        <input
                        id="pppZcode"
                        name="cep"
                        placeholder="cep"
                        required pattern="\d{5}-\d{3}"/>
                        <input type="submit" value="CALCULAR">
                    </div>
                </div>

                <div id="container-ppBuyWhats">
                    <div class="ppBuy">
                        <img src="../img/whatsapp.png" alt="" width="50" height="50" />
                        <p>
                            Compre com um de nossos vendedores pelo Whats app
                        </p>
                    </div>
                    <div class="ppShare">
                        <img src="../img/compartilhar.png" alt="" width="40" height="40" />
                        <p>
                            Compartilhe com seus amigos
                        </p>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </main>
    <!-- Final Main Marcel de Sousa -->
</body>
</html>